body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.minister-header {
  margin-bottom: 15px;
  margin-top: 40px;
}

.week-table-container {
  margin-bottom: 10px;
  box-shadow: none!important;
}

.member-cell {
  width: 25%;
}

.member-type-cell {
  background-color: #cfebfb;
}

.regular-type-cell {
  background-color: #F9F7F3;
}

.visitor-type-cell {
  background-color: #f7edc5;
}

.remote-type-cell {
  background-color: #f9cfb8;
}
