body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-text {
  font-family: 'Roboto';
  font-weight: 600!important;
  letter-spacing: 2px;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 40px 0 20px;
}

.menu-item {
  background-color: #083D77!important;
  line-height: 30px;
  height: 55px;
  border-right: 1px solid #D4EEFC!important;
  border-left: 1px solid #D4EEFC!important;
}

.menu-item p, .menu-icon {
  color: #D4EEFC!important;
}

.menu-icon {
  color: #D4EEFC!important;
}

.menu-item:hover {
  background-color: #D4EEFC!important;
}

.menu-item:hover p {
  color: #083D77!important;
}

.menu-item:hover .menu-icon {
  color: #083D77!important;
}

.minister-header {
  margin-bottom: 15px;
  margin-top: 50px!important;
  font-weight: bold!important;
  color: #FFF;
  background-color: #607d8b;
  padding: 15px;
  text-align: center;
}

.week-table-container {
  margin-bottom: 10px;
  box-shadow: none!important;
}

.member-cell {
  width: 25%;
}

.member-type-cell {
  background-color: #D4EEFC;
}

.regular-type-cell {
  background-color: #FBFAF7;
}

.visitor-type-cell {
  background-color: #F4ECC9;
}

.remote-type-cell {
  background-color: #fae2d6;
}
